{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block extrahead %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myapp/css/order.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Order</title>
    <link
        type="image/png"
        rel="Shortcut Icon"
        href="{% static 'myapp/image/pizza.png' %}">
    <style>
      body {
        background-image: url('{% static "myapp/image/bg.jpg" %}');
        background-size: cover;
      }
    </style>
{% endblock %}

{% block content %}
<div class="upper">
        <div class="home"><a href="{% url 'home' %}" style="color:white;">
            <i class="fa-sharp fa-solid fa-house"></i></a></div>
        <div class="all">
            <div class="days">
                <div class="list active" onclick="activeList()" id="1">{{Monday.day}}<br>Monday</div>
                <div class="list" onclick="activeList()" id="2">{{Tuesday.day}}<br>Tuesday</div>
                <div class="list" onclick="activeList()" id="3">{{Wednesday.day}}<br>Wednesday</div>
                <div class="list" onclick="activeList()" id="4">{{Thursday.day}}<br>Thursday</div>
                <div class="list" onclick="activeList()" id="5">{{Friday.day}}<br>Friday</div>
            </div>
        </div>
        <div class="grn" id="grn">30 €</div>
        <div class="grn off" id="grn2">30 €</div>
        <div class="grn off" id="grn3">30 €</div>
        <div class="grn off" id="grn4">30 €</div>
        <div class="grn off" id="grn5">30 €</div>
    </div>
    <div id='msg1'></div>
    <form method='POST' id='main_form'>
        {{ formset.management_form }}
        {% csrf_token %}

        {% for form in formset.forms %}
            {% if forloop.counter == 1 %}
        
                <div id="first" class="off on">
                    <div class="main">

                        <ul>
                            <li><h2 class="frst">First Course</h2></li>
                            <li><h2 class="qnt1">Quantity</h2></li>
                            <li><h2 class="fprc">Price</h2></li>
                        </ul>
                        <ul>
                            {{ form.first_course|attr:"id:f1_fc"  }}
                            {{ form.first_course_quantity|attr:"id:f1_fcq"|attr:"class:sq"|attr:"type:number" }}
                            <div class="sq" id='f1_fcp'></div>
                        </ul><br>
                        <ul>
                            <li><h2 class="tst">Second Course</h2></li>
                            <li><h2 class="qnt2">Quantity</h2></li>
                            <li><h2 class="prc">Price</h2></li>
                        </ul>
                        <ul>
                            {{ form.second_course|attr:"id:f1_sc"  }}
                            {{ form.second_course_quantity|attr:"id:f1_scq"|attr:"class:sq"|attr:"type:number" }}
                            <div class="sq" id='f1_scp'></div>
                        </ul><br>
                        <ul>
                            <li><h2>Dessert</h2></li>
                            <li><h2 class="qnt3">Quantity</h2></li>
                            <li><h2>Price</h2></li>
                        </ul>
                        <ul>
                            {{ form.dessert|attr:"id:f1_des" }}
                            {{ form.dessert_quantity|attr:"id:f1_des_q"|attr:"class:sq"|attr:"type:number" }}
                            <div class="sq" id='f1_des_p' ></div>
                        </ul><br>
                        <ul>
                            <li><h2>Drinks</h2></li>
                            <li><h2 class="qnt4">Quantity</h2></li>
                            <li><h2>Price</h2></li>
                        </ul>
                        <ul>
                            {{ form.drink|attr:"id:f1_dr" }}
                            {{ form.drink_quantity|attr:"id:f1_dr_q"|attr:"class:sq"|attr:"type:number" }}
                            <div class="sq" id='f1_dr_p' ></div>
                        </ul>
                    </div>
                    {{ form.date|attr:"id:f1_date"|attr:"style:display:none"  }}
                </div>
        
            {% endif %}
        
            {% if forloop.counter == 2 %}
        
                <div id="second" class="off">
                
                    <div class="main">
                        <ul>
                            <li><h2 class="frst">First Course</h2></li>
                            <li><h2 class="qnt1">Quantity</h2></li>
                            <li><h2 class="fprc">Price</h2></li>
                        </ul>
                        <ul>
                            {{ form.first_course|attr:"id:f2_fc"  }}
                            {{ form.first_course_quantity|attr:"id:f2_fcq"|attr:"class:sq"|attr:"type:number" }}
                            <div class="sq" id='f2_fcp'></div>
                        </ul><br>
                        <ul>
                            <li><h2 class="tst">Second Course</h2></li>
                            <li><h2 class="qnt2">Quantity</h2></li>
                            <li><h2 class="prc">Price</h2></li>
                        </ul>
                        <ul>
                            {{ form.second_course|attr:"id:f2_sc"  }}
                            {{ form.second_course_quantity|attr:"id:f2_scq"|attr:"class:sq"|attr:"type:number" }}
                            <div class="sq" id='f2_scp' ></div>
                        </ul><br>
                        <ul>
                            <li><h2>Dessert</h2></li>
                            <li><h2 class="qnt3">Quantity</h2></li>
                            <li><h2>Price</h2></li>
                        </ul>
                        <ul>
                            {{ form.dessert|attr:"id:f2_des"  }}
                            {{ form.dessert_quantity|attr:"id:f2_des_q"|attr:"class:sq"|attr:"type:number" }}
                            <div class="sq" id='f2_des_p'></div>
                        </ul><br>
                        <ul>
                            <li><h2>Drinks</h2></li>
                            <li><h2 class="qnt4">Quantity</h2></li>
                            <li><h2>Price</h2></li>
                        </ul>
                        <ul>
                            {{ form.drink|attr:"id:f2_dr"  }}
                            {{ form.drink_quantity|attr:"id:f2_dr_q"|attr:"class:sq"|attr:"type:number" }}
                            <div class="sq" id='f2_dr_p'></div>
                        </ul>
                    </div>
                    {{ form.date|attr:"id:f2_date"|attr:"style:display:none"  }}
                </div>
        
            {% endif %}
        
            {% if forloop.counter == 3 %}
        
                <div id="third" class="off">
                
                    <div class="main">
                        <ul>
                            <li><h2 class="frst">First Course</h2></li>
                            <li><h2 class="qnt1">Quantity</h2></li>
                            <li><h2 class="fprc">Price</h2></li>
                        </ul>
                        <ul>
                            {{ form.first_course|attr:"id:f3_fc"  }}
                            {{ form.first_course_quantity|attr:"id:f3_fcq"|attr:"class:sq"|attr:"type:number" }}
                            <div class="sq" id='f3_fcp'></div>
                        </ul><br>
                        <ul>
                            <li><h2 class="tst">Second Course</h2></li>
                            <li><h2 class="qnt2">Quantity</h2></li>
                            <li><h2 class="prc">Price</h2></li>
                        </ul>
                        <ul>
                            {{ form.second_course|attr:"id:f3_sc"  }}
                            {{ form.second_course_quantity|attr:"id:f3_scq"|attr:"class:sq"|attr:"type:number" }}
                            <div class="sq" id='f3_scp'></div>
                        </ul><br>
                        <ul>
                            <li><h2>Dessert</h2></li>
                            <li><h2 class="qnt3">Quantity</h2></li>
                            <li><h2>Price</h2></li>
                        </ul>
                        <ul>
                            {{ form.dessert|attr:"id:f3_des"  }}
                            {{ form.dessert_quantity|attr:"id:f3_des_q"|attr:"class:sq"|attr:"type:number" }}
                            <div class="sq" id='f3_des_p' ></div>
                        </ul><br>
                        <ul>
                            <li><h2>Drinks</h2></li>
                            <li><h2 class="qnt4">Quantity</h2></li>
                            <li><h2>Price</h2></li>
                        </ul>
                        <ul>
                            {{ form.drink|attr:"id:f3_dr"  }}
                            {{ form.drink_quantity|attr:"id:f3_dr_q"|attr:"class:sq"|attr:"type:number" }}
                            <div class="sq" id='f3_dr_p' ></div>
                        </ul>
                    </div>
                    {{ form.date|attr:"id:f3_date"|attr:"style:display:none"  }}
                </div>
        
            {% endif %}
        
            {% if forloop.counter == 4 %}
        
                <div id="four" class="off">
                
                    <div class="main">
                        <ul>
                            <li><h2 class="frst">First Course</h2></li>
                            <li><h2 class="qnt1">Quantity</h2></li>
                            <li><h2 class="fprc">Price</h2></li>
                        </ul>
                        <ul>
                            {{ form.first_course|attr:"id:f4_fc"  }}
                            {{ form.first_course_quantity|attr:"id:f4_fcq"|attr:"class:sq"|attr:"type:number" }}
                            <div class="sq" id="f4_fcp"></div>
                        </ul><br>
                        <ul>
                            <li><h2 class="tst">Second Course</h2></li>
                            <li><h2 class="qnt2">Quantity</h2></li>
                            <li><h2 class="prc">Price</h2></li>
                        </ul>
                        <ul>
                            {{ form.second_course|attr:"id:f4_sc"  }}
                            {{ form.second_course_quantity|attr:"id:f4_scq"|attr:"class:sq"|attr:"type:number" }}
                            <div class="sq" id='f4_scp'></div>
                        </ul><br>
                        <ul>
                            <li><h2>Dessert</h2></li>
                            <li><h2 class="qnt3">Quantity</h2></li>
                            <li><h2>Price</h2></li>
                        </ul>
                        <ul>
                            {{ form.dessert|attr:"id:f4_des"  }}
                            {{ form.dessert_quantity|attr:"id:f4_des_q"|attr:"class:sq"|attr:"type:number" }}
                            <div class="sq" id='f4_des_p'></div>
                        </ul><br>
                        <ul>
                            <li><h2>Drinks</h2></li>
                            <li><h2 class="qnt4">Quantity</h2></li>
                            <li><h2>Price</h2></li>
                        </ul>
                        <ul>
                            {{ form.drink|attr:"id:f4_dr"  }}
                            {{ form.drink_quantity|attr:"id:f4_dr_q"|attr:"class:sq"|attr:"type:number" }}
                                <div class="sq" id='f4_dr_p' ></div>
                            </ul>
                        </div>
                        {{ form.date|attr:"id:f4_date"|attr:"style:display:none"  }}
                    </div>

                {% endif %}
            
                {% if forloop.counter == 5 %}
            
                    <div id="five" class="off">
                        <div class="main">
                            <ul>
                                <li><h2 class="frst">First Course</h2></li>
                                <li><h2 class="qnt1">Quantity</h2></li>
                                <li><h2 class="fprc">Price</h2></li>
                            </ul>
                            <ul>
                                {{ form.first_course|attr:"id:f5_fc"  }}
                                {{ form.first_course_quantity|attr:"id:f5_fcq"|attr:"class:sq"|attr:"type:number" }}
                                <div class="sq" id='f5_fcp' ></div>
                            </ul><br>
                            <ul>
                                <li><h2 class="tst">Second Course</h2></li>
                                <li><h2 class="qnt2">Quantity</h2></li>
                                <li><h2 class="prc">Price</h2></li>
                            </ul>
                            <ul>
                                {{ form.second_course|attr:"id:f5_sc"  }}
                                {{ form.second_course_quantity|attr:"id:f5_scq"|attr:"class:sq"|attr:"type:number" }}
                                <div class="sq" id='f5_scp'></div>
                            </ul><br>
                            <ul>
                                <li><h2>Dessert</h2></li>
                                <li><h2 class="qnt3">Quantity</h2></li>
                                <li><h2>Price</h2></li>
                            </ul>
                            <ul>
                                {{ form.dessert|attr:"id:f5_des"  }}
                                {{ form.dessert_quantity|attr:"id:f5_des_q"|attr:"class:sq"|attr:"type:number" }}
                                <div class="sq" id='f5_des_p'></div>
                            </ul><br>
                            <ul>
                                <li><h2>Drinks</h2></li>
                                <li><h2 class="qnt4">Quantity</h2></li>
                                <li><h2>Price</h2></li>
                            </ul>
                            <ul>
                                {{ form.drink|attr:"id:f5_dr"  }}
                                {{ form.drink_quantity|attr:"id:f5_dr_q"|attr:"class:sq"|attr:"type:number" }}
                                <div class="sq" id='f5_dr_p'></div>
                            </ul>
                        </div>
                        {{ form.date|attr:"id:f5_date"|attr:"style:display:none"  }}
                    </div>
            
                {% endif %}
            
            {% endfor %}    

            {% if form.errors %}
                {% for kw, error in form.errors.items %}
                    {{error}}<br>
                {% endfor %}
            {% endif %}

            <div class="buttons">
                <button class="b1" type='submit' id="save" style="visibility: hidden;">Save</button>
            </div>
        </form>
        

    <script src="{% static 'myapp/js/order.js' %}"></script>
    <script>
        let date_1 = '{{ Monday }}';
        let date_2 = '{{ Tuesday }}';
        let date_3 = '{{ Wednesday }}';
        let date_4 = '{{ Thursday }}';
        let date_5 = '{{ Friday }}';
        $('#f1_date').val(date_1);
        $('#f2_date').val(date_2);
        $('#f3_date').val(date_3);
        $('#f4_date').val(date_4);
        $('#f5_date').val(date_5);
    </script>
{% endblock %}
