{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block extrahead %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myapp/css/order.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Order</title>
    <link
        type="image/png"
        rel="Shortcut Icon"
        href="{% static 'myapp/image/pizza.png' %}">
    <style>
      body {
        background-image: url('{% static "myapp/image/bg.jpg" %}');
        background-size: cover;
      }
    </style>
{% endblock %}

{% block content %}
<div class="upper">
        <div class="home"><a href="{% url 'home' %}" style="color:white;">
            <i class="fa-sharp fa-solid fa-house"></i></a></div>
        <div class="all">
            <div class="days">
                <div class="list active" onclick="activeList()" id="1">{{Monday}}<br>Monday</div>
                <div class="list" onclick="activeList()" id="2">{{Tuesday}}<br>Tuesday</div>
                <div class="list" onclick="activeList()" id="3">{{Wednesday}}<br>Wednesday</div>
                <div class="list" onclick="activeList()" id="4">{{Thursday}}<br>Thursday</div>
                <div class="list" onclick="activeList()" id="5">{{Friday}}<br>Friday</div>
            </div>
        </div>
        <div class="grn">200 грн</div>
    </div>
    <form id="first" class="off on" method='post'>
        {% csrf_token %}
    <div class="main">
        <ul>
            <li><h2 class="frst">First Course</h2></li>
            <li><h2 class="qnt1">Quantity</h2></li>
            <li><h2 class="fprc">Price</h2></li>
        </ul>
        <ul>
            {% render_field form1.first_course id='f1_fc' %}
            {% render_field form1.first_course_quantity id='f1_fcq' class="sq" type="number" %}
            <div class="sq" id='f1_fcp'></div>
        </ul><br>
        <ul>
            <li><h2 class="tst">Second Course</h2></li>
            <li><h2 class="qnt2">Quantity</h2></li>
            <li><h2 class="prc">Price</h2></li>
        </ul>
        <ul>
            {% render_field form1.second_course %}
            {% render_field form1.second_course_quantity class="sq" type="number" %}
            <div class="sq"></div>
        </ul><br>
        <ul>
            <li><h2>Dessert</h2></li>
            <li><h2 class="qnt3">Quantity</h2></li>
            <li><h2>Price</h2></li>
        </ul>
        <ul>
            {% render_field form1.dessert %}
            {% render_field form1.dessert_quantity class="sq" type="number" %}
            <div class="sq"></div>
        </ul><br>
        <ul>
            <li><h2>Drinks</h2></li>
            <li><h2 class="qnt4">Quantity</h2></li>
            <li><h2>Price</h2></li>
        </ul>
        <ul>
            {% render_field form1.drink %}
            {% render_field form1.drink_quantity class="sq" type="number" %}
            <div class="sq"></div>
        </ul>
    </div>
    </form>
    <form id="second" class="off" method='post'>
        {% csrf_token %}
    <div class="main">
        <ul>
            <li><h2 class="frst">First Course</h2></li>
            <li><h2 class="qnt1">Quantity</h2></li>
            <li><h2 class="fprc">Price</h2></li>
        </ul>
        <ul>
            {% render_field form2.first_course %}
            {% render_field form2.first_course_quantity class="sq" type="number" %}
            <div class="sq"></div>
        </ul><br>
        <ul>
            <li><h2 class="tst">Second Course</h2></li>
            <li><h2 class="qnt2">Quantity</h2></li>
            <li><h2 class="prc">Price</h2></li>
        </ul>
        <ul>
            {% render_field form2.second_course %}
            {% render_field form2.second_course_quantity class="sq" type="number" %}
            <div class="sq"></div>
        </ul><br>
        <ul>
            <li><h2>Dessert</h2></li>
            <li><h2 class="qnt3">Quantity</h2></li>
            <li><h2>Price</h2></li>
        </ul>
        <ul>
            {% render_field form2.dessert %}
            {% render_field form2.dessert_quantity class="sq" type="number" %}
            <div class="sq"></div>
        </ul><br>
        <ul>
            <li><h2>Drinks</h2></li>
            <li><h2 class="qnt4">Quantity</h2></li>
            <li><h2>Price</h2></li>
        </ul>
        <ul>
            {% render_field form2.drink %}
            {% render_field form2.drink_quantity class="sq" type="number" %}
            <div class="sq"></div>
        </ul>
    </div>
    </form>
    <form id="third" class="off" method='post'>
        {% csrf_token %}
        <div class="main">
            <ul>
                <li><h2 class="frst">First Course</h2></li>
                <li><h2 class="qnt1">Quantity</h2></li>
                <li><h2 class="fprc">Price</h2></li>
            </ul>
            <ul>
                {% render_field form3.first_course %}
                {% render_field form3.first_course_quantity class="sq" type="number" %}
                <div class="sq"></div>
            </ul><br>
            <ul>
                <li><h2 class="tst">Second Course</h2></li>
                <li><h2 class="qnt2">Quantity</h2></li>
                <li><h2 class="prc">Price</h2></li>
            </ul>
            <ul>
                {% render_field form3.second_course %}
                {% render_field form3.second_course_quantity class="sq" type="number" %}
                <div class="sq"></div>
            </ul><br>
            <ul>
                <li><h2>Dessert</h2></li>
                <li><h2 class="qnt3">Quantity</h2></li>
                <li><h2>Price</h2></li>
            </ul>
            <ul>
                {% render_field form3.dessert %}
                {% render_field form3.dessert_quantity class="sq" type="number" %}
                <div class="sq"></div>
            </ul><br>
            <ul>
                <li><h2>Drinks</h2></li>
                <li><h2 class="qnt4">Quantity</h2></li>
                <li><h2>Price</h2></li>
            </ul>
            <ul>
                {% render_field form3.drink %}
                {% render_field form3.drink_quantity class="sq" type="number" %}
                <div class="sq"></div>
            </ul>
        </div>
    </form>
    <form id="four" class="off" method='post'>
        {% csrf_token %}
        <div class="main">
            <ul>
                <li><h2 class="frst">First Course</h2></li>
                <li><h2 class="qnt1">Quantity</h2></li>
                <li><h2 class="fprc">Price</h2></li>
            </ul>
            <ul>
                {% render_field form4.first_course %}
                {% render_field form4.first_course_quantity class="sq" type="number" %}
                <div class="sq"></div>
            </ul><br>
            <ul>
                <li><h2 class="tst">Second Course</h2></li>
                <li><h2 class="qnt2">Quantity</h2></li>
                <li><h2 class="prc">Price</h2></li>
            </ul>
            <ul>
                {% render_field form4.second_course %}
                {% render_field form4.second_course_quantity class="sq" type="number" %}
                <div class="sq"></div>
            </ul><br>
            <ul>
                <li><h2>Dessert</h2></li>
                <li><h2 class="qnt3">Quantity</h2></li>
                <li><h2>Price</h2></li>
            </ul>
            <ul>
                {% render_field form4.dessert %}
                {% render_field form4.dessert_quantity class="sq" type="number" %}
                <div class="sq"></div>
            </ul><br>
            <ul>
                <li><h2>Drinks</h2></li>
                <li><h2 class="qnt4">Quantity</h2></li>
                <li><h2>Price</h2></li>
            </ul>
            <ul>
                {% render_field form4.drink %}
                {% render_field form4.drink_quantity class="sq" type="number" %}
                <div class="sq"></div>
            </ul>
        </div>
    </form>
    <form id="five" class="off" method='post'>
        {% csrf_token %}
        <div class="main">
            <ul>
                <li><h2 class="frst">First Course</h2></li>
                <li><h2 class="qnt1">Quantity</h2></li>
                <li><h2 class="fprc">Price</h2></li>
            </ul>
            <ul>
                {% render_field form5.first_course %}
                {% render_field form5.first_course_quantity class="sq" type="number" %}
                <div class="sq"></div>
            </ul><br>
            <ul>
                <li><h2 class="tst">Second Course</h2></li>
                <li><h2 class="qnt2">Quantity</h2></li>
                <li><h2 class="prc">Price</h2></li>
            </ul>
            <ul>
                {% render_field form5.second_course %}
                {% render_field form5.second_course_quantity class="sq" type="number" %}
                <div class="sq"></div>
            </ul><br>
            <ul>
                <li><h2>Dessert</h2></li>
                <li><h2 class="qnt3">Quantity</h2></li>
                <li><h2>Price</h2></li>
            </ul>
            <ul>
                {% render_field form5.dessert %}
                {% render_field form5.dessert_quantity class="sq" type="number" %}
                <div class="sq"></div>
            </ul><br>
            <ul>
                <li><h2>Drinks</h2></li>
                <li><h2 class="qnt4">Quantity</h2></li>
                <li><h2>Price</h2></li>
            </ul>
            <ul>
                {% render_field form5.drink %}
                {% render_field form5.drink_quantity class="sq" type="number" %}
                <div class="sq"></div>
            </ul>
        </div>
    </form>
    <div class="buttons">
        <button class="b1" onclick="backBtn()" id="back" style="visibility: hidden;">Back</button>
        <button class="b1" onclick="nextBtn()" id="next"><a href='#'>Next</a></button>
    </div>
<script src="{% static 'myapp/js/order.js' %}"></script>
{% endblock %}