
    <form action="home" method="post">
        <h3>Login</h3>

            {% csrf_token %}

        <label for="email_input" > Username </label>
        <input id="email_input" type="email" placeholder="Email" name="email_input" value="{{ current_email }}">
        <br>
        <label for="password_input" > Password </label>
        <input id="password_input" type="password" placeholder="Password" name="password_input" value="{{ current_password }}">
        <br>
            {{ form }}
        <button>Log In</button>
    </form>>

