<html>
<head>
    <title>Profile</title>
</head>
<body>
    {% block title %} <h2>Your profile</h2>  {% endblock %}
    <br><br>
     <img src="{{ user.profile.photo.url }}" />
    {% block content %}
    <br><br>
    <p> Username: {{ user.username }}
    <br><br>
    <p> First name: {{ user.first_name }}
    <br><br>
    <p> Last name: {{ user.last_name }}
    <br><br>
    <p>Email: {{ user.email }}
    <br><br>
    <p>Birthday:{{ user.birthdate }}
    <br><br>
    <button><a href="{% url 'home' %}">Go home</a></button>
    {% endblock %}

</body>
</html>