{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static  'myapp/css/home.css' %}">
    <link
    type="image/png"
    rel="Shortcut Icon"
    href="{% static 'myapp/image/pizza.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Home</title>
    <style>
      body {
        background-image: url('{% static "myapp/image/bg.jpg" %}');
        background-size: cover;
      }
    </style>
{% endblock %}

{% block content %}
    <nav>
        <ul>
            <li><img src="{% static 'myapp/image/pizza.png' %}"><h1>SMAKOLYK</h1></li>
        </ul>
        <ul>
            <li>HOME</li>
            <li>EDIT PAGE</li>
            <li><a style="color:red;" href="{% url 'profile' %}">PROFILE</a></li>
        </ul>
        <ul>
            <li><i class="fa-solid fa-cart-shopping"></i></li>
            {% if user.is_authenticated %}
            <li class="login"><a href="{% url 'logout' %}">LOG OUT</a></li>
            {% else %}
            <li class="login"><a href="{% url 'login' %}">LOG IN</a></li>
            <li class="signup"><a href="{% url 'signup' %}">SIGN UP</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="main">
        <h1>Menu</h1>
        <div class="title">
            <h2>First course</h2>
        </div>
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-4">
                    <img src="{% static 'myapp/image/pizza.png' %}" alt="Image 1" class="d-block w-50">
                  </div>
                  <div class="col-md-4">
                    <img src="{% static 'myapp/image/pizza.png' %}" alt="Image 2" class="d-block w-50">
                  </div>
                  <div class="col-md-4">
                    <img src="{% static 'myapp/image/pizza.png' %}" alt="Image 3" class="d-block w-50">
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-4">
                    <img src="{% static 'myapp/image/pizza.png' %}" alt="Image 4" class="d-block w-50">
                  </div>
                  <div class="col-md-4">
                    <img src="{% static 'myapp/image/pizza.png' %}" alt="Image 5" class="d-block w-50">
                  </div>
                  <div class="col-md-4">
                    <img src="{% static 'myapp/image/pizza.png' %}" alt="Image 6" class="d-block w-50">
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
    </div><br>
    <div class="main">
        <div class="title">
            <h2>Second course</h2>
        </div>
        <div id="myCarousel2" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-4">
                    <img src="{% static 'myapp/image/pizza.png' %}" alt="Image 1" class="d-block w-50">
                  </div>
                  <div class="col-md-4">
                    <img src="{% static 'myapp/image/pizza.png' %}" alt="Image 2" class="d-block w-50">
                  </div>
                  <div class="col-md-4">
                    <img src="{% static 'myapp/image/pizza.png' %}" alt="Image 3" class="d-block w-50">
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-4">
                    <img src="{% static 'myapp/image/pizza.png' %}" alt="Image 4" class="d-block w-50">
                  </div>
                  <div class="col-md-4">
                    <img src="{% static 'myapp/image/pizza.png' %}" alt="Image 5" class="d-block w-50">
                  </div>
                  <div class="col-md-4">
                    <img src="{% static 'myapp/image/pizza.png' %}" alt="Image 6" class="d-block w-50">
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel2" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel2" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
    </div><br>
    <div class="main">
        <div class="title">
            <h2>Desert</h2>
        </div>
        <div id="myCarousel3" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-4">
                    <img src="{% static 'myapp/image/pizza.png' %}" alt="Image 1" class="d-block w-50">
                  </div>
                  <div class="col-md-4">
                    <img src="{% static 'myapp/image/pizza.png' %}" alt="Image 2" class="d-block w-50">
                  </div>
                  <div class="col-md-4">
                    <img src="{% static 'myapp/image/pizza.png' %}" alt="Image 3" class="d-block w-50">
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-4">
                    <img src="{% static 'myapp/image/pizza.png' %}" alt="Image 4" class="d-block w-50">
                  </div>
                  <div class="col-md-4">
                    <img src="{% static 'myapp/image/pizza.png' %}" alt="Image 5" class="d-block w-50">
                  </div>
                  <div class="col-md-4">
                    <img src="{% static 'myapp/image/pizza.png' %}" alt="Image 6" class="d-block w-50">
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel3" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel3" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
    </div> <br>
    <div class="main">
        <div class="title">
            <h2>Drinks</h2>
        </div>
        <div id="myCarousel4" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-4">
                    <img src="{% static 'myapp/image/pizza.png' %}" alt="Image 1" class="d-block w-50">
                  </div>
                  <div class="col-md-4">
                    <img src="{% static 'myapp/image/pizza.png' %}" alt="Image 2" class="d-block w-50">
                  </div>
                  <div class="col-md-4">
                    <img src="{% static 'myapp/image/pizza.png' %}" alt="Image 3" class="d-block w-50">
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-4">
                    <img src="{% static 'myapp/image/pizza.png' %}" alt="Image 4" class="d-block w-50">
                  </div>
                  <div class="col-md-4">
                    <img src="{% static 'myapp/image/pizza.png' %}" alt="Image 5" class="d-block w-50">
                  </div>
                  <div class="col-md-4">
                    <img src="{% static 'myapp/image/pizza.png' %}" alt="Image 6" class="d-block w-50">
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel4" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel4" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Initialize the carousel using JavaScript -->
    <script>
      $(document).ready(function() {
        $('#myCarousel').carousel({
          interval: 3000, // Change the interval between slides
          wrap: true, // Allow looping of slides
          keyboard: true // Allow the user to navigate using the keyboard
        });
      });
    </script>
{% endblock %}
