{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block extrahead %}
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <button>1</button>__
    <button>2</button>__
    <button>3</button>__
    <button>4</button>__
    <button>5</button><br>
    <p></p>
    <select name="first_course" id="first">
        <option>Borsh</option>
        <option>Galushki</option>
        <option>Pure</option>
    </select>
    <br>
    First quantity: <input type="number" name="f_quantity" id="n_first">
    <br>
    <select name="second_course" id="second">
        <option>Katelete</option>
        <option>Frets</option>
    </select>
    <br>
    Second quantity: <input type="number" name="s_quantity" id="n_second">
    <br>
    <select name="dessert" id="dessert">
        <option>Tort</option>
        <option>Cake</option>
    </select>
    <br>
    Dessert quantity: <input type="number" name="des_quantity" id="n_dessert">
    <br>
    <select name="drink" id="drink">
        <option>Cola</option>
        <option>Pepsi</option>
    </select>
    <br>
    <input type="number" name="dr_quantity" id="n_drink">
</form>
{% endblock %}